body {
	font-family: Arial, sans-serif;
	background-image: url("images/possessed-photography.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	background: linear-gradient(to right, #ff416c, #1282c7);
	color: #fff;
	padding: 20px;
    text-align: center;
}


nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav li a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
  
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: linear-gradient(to right, #ff416c, #1282c7);
	color: #fff;
	padding: 10px;
	text-align: center;
}

article {
	float: left;
	padding: 20px;
	width: 70%;
	background-color: #f1f1f1;
	height: 300px;
}

.about-text {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px;
	margin: 20px;
}

.contact-text {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px;
	margin: 20px;
}

.index-text {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px;
	margin: 20px;
}