body {
	font-family: Arial, sans-serif;
	background-image: url("images/possessed-photography.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
    text-align: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav li a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}