@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
	font-family: 'Roboto', sans-serif;
	background-image: url("images/krisztian-tabori-IyaNci0CyRk-unsplash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

h2 {
    background: linear-gradient(to right, #ff416c, #1282c7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
	background: linear-gradient(to right, #ff416c, #1282c7);
	color: #fff;
	padding: 20px;
    text-align: center;
}


nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav li a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
  
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: linear-gradient(to right, #ff416c, #1282c7);
	color: #fff;
	padding: 10px;
	text-align: center;
}

article {
	float: left;
	padding: 20px;
	width: 70%;
	background-color: #f1f1f1;
	height: 300px;
}

.about-text {
	background: linear-gradient(to right, rgba(255, 65, 108, 0.5), rgba(18, 130, 199, 0.8));
	padding: 20px;
    color: white;
}

.contact-text {
	background: linear-gradient(to right, rgba(255, 65, 108, 0.5), rgba(18, 130, 199, 0.8));
	padding: 20px;
    color: white;
	
}

.index-text {
	background: linear-gradient(to right, rgba(255, 65, 108, 0.5), rgba(18, 130, 199, 0.8));
	padding: 20px;
    color: white;
	
}